<section class="card">
    <header>{{post_title}}</header>
<h1 class="username">by: {{user.username}}</h1>
    <div class="card-body">
      <h2 class="content">{{post_contents}}</h2>
      <p>posted on: {{post_date}}</p>
    </div>
  </a>
</section>